* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
.banner {
  background-image: url(assets/Hero-bg.png);
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
}
.banner {
  text-align: center;
}
.banner img {
  margin-top: 100px;
}
.banner h1 {
  font-size: 48px;
  margin: 24px 0px;
}
.banner p {
  font-size: 16px;
}
.banner button {
  padding: 21px 24px;
  margin: 32px 0px;
  border-radius: 8px;
  background-color: black;
}
.banner a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.hero-section nav {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-weight: bold;
}
.hero-section nav a {
  padding: 17px 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}
.hero-section nav p {
  padding: 17px 24px;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
} */

.why-web-developer {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  height: 1295px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.why-web-developer header {
  text-align: center;
  padding: 32px;
}

.why-web-developer header h2 {
  font-size: 32px;
  margin: 24px 14px;
}
.why-web-developer header p {
  font-size: 16px;
}
.reason {
  width: 850px;
  height: 240px;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  margin: 24px 48px;
  display: flex;
  padding: 48px;
}
.reason-2 {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
/* .reason-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
.reason-info h3 {
  font-weight: 24px;
  margin-bottom: 50px;
}
.reason-info p {
  font-weight: 16px;
  margin-bottom: 70px;
}
.reason-info button {
  padding: 18px 24px;
  background-color: white;
  margin-bottom: 0px;
}
/* .reason-info {
  align-content: space-around;
} */
